{% extends "core/base_dashboard.html" %}
{% block title %}Dashboard | Janay Pedidos{% endblock %}

{% block main_content %}
<h1 class="text-2xl font-semibold text-gray-900 mb-6">Bienvenido, {{ user.username }}</h1>

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <!-- Tarjeta para Crear Pedido -->
    <div class="dashboard-card">
        <div class="dashboard-card-content">
            <div class="flex items-center">
                <div class="dashboard-card-icon">
                    <span class="material-icons text-white">shopping_cart</span>
                </div>
                <div class="dashboard-card-text">
                    <dt class="dashboard-card-title">
                        Crear Nuevo Pedido
                    </dt>
                    <dd class="dashboard-card-description">
                        selecciona productos y crea un pedido
                    </dd>
                </div>
            </div>
            <div class="mt-5">
                <a href="{% url 'orders:create' %}" class="btn-secondary">
                    Crear Pedido
                </a>
            </div>
        </div>
    </div>

    <!-- Tarjeta para Ver Historial -->
    <div class="dashboard-card">
        <div class="dashboard-card-content">
            <div class="flex items-center">
                <div class="dashboard-card-icon">
                    <span class="material-icons text-white">history</span>
                </div>
                <div class="dashboard-card-text">
                    <dt class="dashboard-card-title">
                        Historial de Pedidos
                    </dt>
                    <dd class="dashboard-card-description">
                        Revisa y gestiona tus pedidos anteriores
                    </dd>
                </div>
            </div>
            <div class="mt-5">
                <a href="{% url 'orders:history' %}" class="btn-secondary">
                    Ver Historial
                </a>
            </div>
        </div>
    </div>

    <!-- Tarjeta para Productos -->
    <div class="dashboard-card">
        <div class="dashboard-card-content">
            <div class="flex items-center">
                <div class="dashboard-card-icon">
                    <span class="material-icons text-white">storefront</span>
                </div>
                <div class="dashboard-card-text">
                    <dt class="dashboard-card-title">
                        Productos
                    </dt>
                    <dd class="dashboard-card-description">
                        Explora todos los productos de la panadería
                    </dd>
                </div>
            </div>
            <div class="mt-5">
                <a href="{% url 'products:list' %}" class="btn-secondary">
                    Ver Productos
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}