{% extends "core/base_dashboard.html" %}
{% block title %}Dashboard | Janay Pedidos{% endblock %}

{% block main_content %}
<h1 class="text-2xl font-semibold text-gray-900 mb-6">Bienvenido, {{ user.username }}</h1>

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <!-- Tarjeta para Crear Pedido -->
    <div class="bg-white overflow-hidden shadow-lg rounded-lg
                hover:shadow-xl hover:scale-105 hover:border-orange-500 hover:border-2
                focus-within:ring-2 focus-within:ring-orange-500 
                transition-all duration-300 ease-in-out
                transform">
        <div class="px-4 py-5 sm:p-6">
            <div class="flex items-center">
                <div class="flex-shrink-0 bg-orange-500 rounded-md p-3">
                    <span class="material-icons text-white">add_shopping_cart</span>
                </div>
                <div class="ml-5 w-0 flex-1">
                    <dt class="text-lg font-medium text-gray-900 truncate">
                        Crear Nuevo Pedido
                    </dt>
                    <dd class="mt-1 text-sm text-gray-500">
                        selecciona productos y crea un pedido
                    </dd>
                </div>
            </div>
            <div class="mt-5">
                <a href="{% url 'orders:create' %}" class="btn-secondary">
                    Crear Pedido
                </a>
            </div>
        </div>
    </div>

    <!-- Tarjeta para Ver Historial -->
    <div class="bg-white overflow-hidden shadow-lg rounded-lg
                hover:shadow-xl hover:scale-105 hover:border-orange-500 hover:border-2
                focus-within:ring-2 focus-within:ring-orange-500 
                transition-all duration-300 ease-in-out
                transform">
        <div class="px-4 py-5 sm:p-6">
            <div class="flex items-center">
                <div class="flex-shrink-0 bg-orange-500 rounded-md p-3">
                    <span class="material-icons text-white">history</span>
                </div>
                <div class="ml-5 w-0 flex-1">
                    <dt class="text-lg font-medium text-gray-900 truncate">
                        Historial de Pedidos
                    </dt>
                    <dd class="mt-1 text-sm text-gray-500">
                        Revisa y gestiona tus pedidos anteriores
                    </dd>
                </div>
            </div>
            <div class="mt-5">
                <a href="{% url 'orders:history' %}" class="btn-secondary">
                    Ver Historial
                </a>
            </div>
        </div>
    </div>

    <!-- Tarjeta para Productos -->
    <div class="bg-white overflow-hidden shadow-lg rounded-lg
                hover:shadow-xl hover:scale-105 hover:border-orange-500 hover:border-2
                focus-within:ring-2 focus-within:ring-orange-500 
                transition-all duration-300 ease-in-out 
                transform">
        <div class="px-4 py-5 sm:p-6">
            <div class="flex items-center">
                <div class="flex-shrink-0 bg-orange-500 rounded-md p-3">
                    <span class="material-icons text-white">inventory_2</span>
                </div>
                <div class="ml-5 w-0 flex-1">
                    <dt class="text-lg font-medium text-gray-900 truncate">
                        Productos
                    </dt>
                    <dd class="mt-1 text-sm text-gray-500">
                        Explora todos los productos de la panadería
                    </dd>
                </div>
            </div>
            <div class="mt-5">
                <a href="{% url 'products:list' %}" class="btn-secondary">
                    Ver Productos
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}